<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <!-- <form action="{% url 'submit' %}" method="GET">
        <label for="fname"> <h2> Enter First Name</h2></label><br>
        <input type="text" name="fname" id="fname">
        <br><br>
        <label for="lname"> <h2>Enter Last Name</h2> </label><br>
        <input type="text" name="lname" id="lname">
        <br>
        <input type="submit" value="Submit">
    </form> -->

    <form action="{% url 'submit' %}" method="POST">
        {% csrf_token %}        <!-- this line added for post method -->
        <label for="fname"> <h2> Enter First Name</h2></label><br>
        <input type="text" name="fname" id="fname">
        <br><br>
        <label for="lname"> <h2>Enter Last Name</h2> </label><br>
        <input type="text" name="lname" id="lname">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>